body {
	background-color: #9E9E9E;
	font-family: 'Lato', sans-serif;
}

#nom {
	margin-top: 1%;
}

#presentation {
	margin-top: 30%;
}

#skills {
	font-size: 100%;
}

.collection {
	border: 0px !important;
}

.collection > li {
	border-color: gray !important;
}

.card-action {
	position: fixed;
	bottom: 0;
}

#pres {
	margin-top: 4%;
}

#logo-container {
	cursor: context-menu;
}

.background {
	overflow: hidden;
	max-height: 200px;
}

.brand-logo {
	margin-left: 1%;
	cursor: context-menu;
}

nav {
	background-color:  	#4d597a;
}

#contact {
	background-color:#152459;
}

.icon-javascript, .icon-html5-alt, .icon-nodejs, .icon-css3-alt, .icon-mysql, .icon-jquery, .icon-php-alt, #mongo, .icon-bootstrap {
	font-size: 4em;
	color: gray;
	margin-right: 4%;
}

.icon-javascript {
	margin-bottom: 1%;
}